@CHARSET "ISO-8859-1";
body
{
	background: silver;
}

header
{
	background: black;
}

header img
{
	margin-left: 5px;
	margin-top: 5px;
	width: 150px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}